body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #000000;
  background-image: url("../imgs/vanderbilt-background.jpg");
  background-position: right;
  background-repeat: no-repeat; 
}

html {
  position: relative;
  min-height: 100%;
}


main {
  margin: 80px 0;
}


.block {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px;
}

.block-header {
  color: #bc934b;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}


#logo {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  font-weight: bold;
  color: #111;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #111;
}

.navbar {
  background: #bc934b;
  border: none;
}

@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #bc934b;
  }
}

.connect-header {
  font-size: 25px;
}

.connect-photo {
  width: 30px;
  height: 40px;
}

#images {
  padding-top: 25px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #bc934b;
}

.text-muted-footer {
  margin-top: 15px;
  color: #111;
}

.about-me-header {
  margin-bottom: 25px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: bold;
  color: #bc934b;
}

#about-image {
  float: left;
  width: 200px;
  margin: 0 10px 10px 0;
}

.port-image {
  margin: 20px auto;
}

.form-control {
  border-radius: 0;
  min-width: 100%;
  max-width: 100%;
}

.submit-btn {
  /* Box-model */
  padding: 12px 25px;
  font-size: 14px;
  font-weight: lighter;
  color: #fff;
  background-color: #bc934b;;
  border: 0;
}

.submit-btn:hover {
  opacity: .7;
}

li.nav-item > a{

  color: #111;
}

div.two-toned-footer-color > p{

  color: #111;
}

button.navbar-toggler {
  color: #111;
}


button.navbar-toggler-collapsed {
  color: #111;
}

button.navbar-toggler-collapsed > span {
  color: #111;
}

button.navbar-toggler > span {
  color: #111;
}

